.sidebar {
  max-height: 100vh;
  .bg-custom {
    background-color:#1976d2;
  }
  .sidebar-image {
    height: 250px;
    object-fit: cover;
  }

}
.custom-position {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 999999;
  .btn-close {
    color: #fff !important;
    opacity: 1;
  }
}
