<div class="card p-2">
  <div class="d-flex gap-3">
    <div class="d-flex flex-column align-items-center">
      <img style="border-radius: 5px;" width="120px" height="90px"
      [src]="estate?.photo ? estate?.photo :'../../../../assets/images/no-image.png'"
      [alt]="estate.streetAddress">
      <span class="fw-bold fs-12 pt-1">{{estate?.name}}</span>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex flex-column">
        <span >{{estate?.streetAddress}}</span>
        <span class="text-muted fs-12">{{estate?.city}}, {{estate?.state}}</span>
      </div>
      <div class="d-flex flex-wrap gap-3 mt-2" *ngIf="estate?.floorplans[0]?.price">
          <div class="d-flex gap-1">
            <img  src="../../../../assets/svg/bed.svg" alt="single bed"  height="22px">
            <span class="fs-14">{{estate?.floorplans[0]?.price}}$</span>
          </div>
          <div class="d-flex gap-1" *ngIf="estate?.floorplans[1]?.price">
            <img  src="../../../../assets/svg/bed-double.svg" alt="single bed"  height="22px">
            <span class="fs-14">{{estate?.floorplans[1]?.price}}$</span>
          </div>
          <div class="d-flex gap-1" *ngIf="estate?.floorplans[2]?.price">
            <img  src="../../../../assets/svg/servers.svg" alt="single bed"  height="22px">
            <span class="fs-14">{{estate?.floorplans[2]?.price}}$</span>
          </div>
      </div>
      <div class="d-flex mt-1">
          <span class="fs-12 text-muted">{{estate?.highValueAmenities?.length}} High Value Amenities</span>
      </div>
    </div>
  </div>

</div>

<!-- <div class="sidebar">
  <div class="row" *ngIf="!hasDetailClicked">
    <div class="col-12 ">
      <div class="d-flex gap-2 bg-secondary p-2 mb-3">
        <img src="../../../assets/svg/user-circle.svg" width="40x" height="40px">
        <div class="d-flex flex-column">
          <span class="text-white">{{DATA?.agentInfo?.firstname}} {{DATA?.agentInfo?.lastname}}</span>
          <span class="fs-12 text-muted">{{DATA?.agentInfo?.company}}</span>
        </div>
      </div>

      <div class="d-flex flex-column px-3">
        <a class="mb-3" style="cursor:pointer;" [routerLink]="item.propertyID" (click)="changeDetail()" *ngFor="let item of DATA?.records">
          <app-card-item [estate]="item">

          </app-card-item>

        </a>
      </div>

    </div>
  </div>
  <div class="row" *ngIf="hasDetailClicked">
    <p>afljalkfdjlkdsfn</p>
  </div>
</div> -->


