<div class="sidebar" *ngIf="!isLoading">
  <div class="row">
    <div class="col-12 ">
      <div class="d-flex gap-2 bg-custom p-2 mb-3">
        <img src="../../../assets/svg/user-circle.svg" width="40x" height="40px">
        <div class="d-flex flex-column text-white">
          <span>{{DATA?.agentInfo?.firstname}} {{DATA?.agentInfo?.lastname}}</span>
          <span class="fs-12">{{DATA?.agentInfo?.company}}</span>
        </div>
      </div>

      <div class="d-flex flex-column card-hover px-3">
        <a class="cpointer mb-3 text-body"  [routerLink]="item.propertyID" *ngFor="let item of DATA?.records">
          <app-card-item [estate]="item">

          </app-card-item>

        </a>
      </div>

    </div>
  </div>
</div>

<div *ngIf="isLoading">
  <app-loading></app-loading>
</div>
